@model GeekBrainsWork1.Models.Employee
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>
@using (Html.BeginForm("CreateEmployee", "Default", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.SurName)
                <div>
                    @Html.EditorFor(x => x.SurName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.FirstName)
                <div>
                    @Html.EditorFor(x => x.FirstName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Patronymic)
                <div>
                    @Html.EditorFor(x => x.Patronymic)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Age)
                <div>
                    @Html.EditorFor(x => x.Age)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.BirthDate)
                <div>
                    @Html.EditorFor(x => x.BirthDate)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                @Html.ValidationSummary()
            </td>
        </tr>
    </table>
    <input type="submit" value="Сохранить" />
    <br />
    <div>
        <a class="btn btn-default" href="@Url.Action("Index")" role="button">Назад</a>
    </div>
}

